<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- BulbControl Main Logger -->
        <Logger name="com.yasm3.bulbcontrol" level="info" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <!-- Log4j Internal Logger -->
        <Logger name="org.apache.logging.log4j" level="off" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>